$color_60: #0e1112;
$color_60_opo: rgb(10, 12, 12, 0.6);
$color_60_opo2: rgb(10, 12, 12, 0.9);
$color_60_opo3: rgb(10, 12, 12, 0.5);

$color_50: white;
$color_40: goldenrod;

$color_30: red;
// $color_30_opo: rgba(139, 0, 0, 0.506);

$color_20: rgb(200, 200, 200);
$color_20_opo: rgb(200, 200, 200, 0.5);

$color_10: #0b86af;
$color_10_opo: rgb(11, 134, 175, 0.7);

$bg_shadow_1: 4px 4px 4px #232323a0;
$bg_shadow_1_hover: 0px 0px 0px #232323a0;

$txt_color_light: $color_10;
$txt_color_dark: $color_60;
// $txt_color_shadow: $color_60_opo;

$txt_shadow_1: 4px 4px 4px #000;
$txt_shadow_1_hover: 0px 0px 0px #000;